.file {
    position: relative;
    display: inline-block;
    background: #555;
    border: 1px solid #555;
    border-radius: 3px;
    padding: 5px 30px;
    overflow: hidden;
    color: #f5f5f5;
    text-decoration: none;
    text-indent: 0;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: gray;
    border-color: gray;
    color: #f5f5f5;
    text-decoration: none;
}
.friend-list{
    padding-left: 10px ;
}
.chat-box-border{
    border-bottom: 1px solid #d6d6d6;
}
.text-color{
    color: #555555;
}
.tags{
    color: #555555;
}

.tags-info{
    color: #555555;
}

.grey{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    /*-ms-filter: grayscale(100%);*/
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    /*filter: grey;*/
}
.sketchpad {
    border: 1px solid #000;
}
#boardList {
    width: auto;
    height: auto;
}
.notice {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    background-color: #555555;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    top: 30%;
}

.chatBox {
    height: 51.5%;
    border: 1px solid rgb(204, 204, 204);
}
.chat-list{
    margin-left : -30px;
    background-color: #F6F6F6;
}
.comm_li {
    width: 400px;
    float: left;
    line-height: 20px;
    margin-top: 3px;
}

.comm_li_2 {
    width: 400px;
    float: right;
    line-height: 20px;
    margin-top: 3px;
}
.warn-chat-noone,.userInfo{
    height: 20px;
    margin-top : 8px;
    text-align: center;
    font-size:18px;
    color: #555555;
}
.am-tab-usr{
    float: left;
    width: 15em;  
    text-align: right;
}
#user_avator,#friendAvatar{
    height: 100px;
    width: 100px;
}
#msg_div > div > textarea {
    /* placeholder颜色  */
    color: #555555;
    /* placeholder字体大小  */
    font-size: 13px;
    /* placeholder位置  */
    text-align: left;

}
.hide-id{
    margin-top: 10px;
}
.group-usr-ch {
    text-align: center;
}
.group-usr-ch > input{
    padding: .6em;
    background: #F6F6F6;
    font-family: 'Microsoft Yahei';
    color: #555555;
    border-bottom: solid 1px #555;
    width: 280px;
    text-align: center;
}
.group-usr-ch > textarea {
    background: #F6F6F6;
    color: #555555;
    border:none;
    border-bottom: solid 1px #555;
    width: 520px;
    text-align: center;
    resize: none;
}
.info-margin-1{
    margin-top: 7%;
}
.info-margin-2{
    margin-top: 3%;
}
.am-form-set-group{
    margin-bottom: 1.5rem;
}
.usr-inf-up {
    margin-top: 20px;
    background-color: #555;
    border: none;
    color: #f5f5f5;
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    margin-bottom: 30px;
}
.close-usr-up {
    color: #555555;
}
.usr-inf-up:hover {
    background: gray;
    border-color: gray;
    color: #f5f5f5;
    text-decoration: none;
}
.sendMsg_btn{
    background-color: #555; 
    border: none;
    color: #f5f5f5;
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
}
.sendMsg_btn:hover{
    background: gray;
    border-color: gray;
    color: #f5f5f5;
    text-decoration: none;
}
#friendName_detail{
    font-size: 25px;
}
.emotion{
    width:3%;
}
.aboutUs-detail-msg{
    margin-left: 23%;
}
.aboutUs-detail{
    margin-left: 20%;
}
.aboutUs-div{
    margin-top: 2%;
}
.list-msg{
    margin-top: 5%;
    color: #555555;
}
.chatBox,.chatBox_demo{
    resize: none;
    border-style: none;
    width: 101.9%;
    border-left: solid 1px #555555;
   /* margin-top: 7px; 
    border-top:solid 1px #555;*/
    background-color: #F6F6F6;
    border-bottom: solid 1px #555555;
}
.send-text{
    resize: none;
    background-color: #F6F6F6;
    border: snow;
}

#send_text_btn{
    width: 16%;
    margin-left: 660px;
}
#addFriendChat{
    width: 30px;
    height: 30px;
}
#canvas{
    width: 100%;
    border: 1px solid;
    cursor:crosshair;
    background-color: white;
    border-color: rgb(204, 204, 204);
    border-top-width: 0px;
}
#colorList{
    margin: 4px;
    border-radius: 3px;
}
.color-box{
    margin: 3px;
    width: 23px;
    height: 23px;
    float: left;
    border: 2px solid #000;
}
.width-box{
    text-align: center;
    margin: 3px;
    width: 23px;
    height: 23px;
    float: left;
    border : 2px solid #000;
}
.bubble{
    max-width: 330px;
    position: relative;
    line-height: 30px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
    margin-top: 10px;
    padding-right: 10px;
    display: inline-block;
    color: #555555;
}
.leftBubble{
    position: relative;
    margin-left: 15px;
    border: 1px solid rgb(204, 204, 204);
    background-color: #f5f5f5;
}
.leftBubble .bottomLevel{
    position: absolute;
    top: 10px;
    left: -10px;
    border-top: 10px solid rgb(204, 204, 204);
    border-left: 10px solid transparent;
}
.leftBubble .topLevel{
    position: absolute;
    top: 11px;
    left: -8px;
    border-top: 10px solid #f5f5f5;
    border-left: 10px solid transparent;
    z-index: 100;
}
.rightBubble{
    position: relative;
    margin-right: 15px;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(204, 204, 204);
}
.rightBubble .bottomLevel{
    position: absolute;
    top: 10px;
    right: -10px;
    border-bottom: 10px solid rgb(204, 204, 204);
    border-right: 10px solid transparent;
}
.rightBubble .topLevel{
    position: absolute;
    top: 11px;
    right: -8px;
    border-bottom: 10px solid #b6aaaa1a;
    border-right: 10px solid transparent;
    z-index: 100;
} 
