<div class="m-modal">
	<div class="m-modal-dialog" style="margin-top: 15%;">
		<div class="m-top">
			<h4 class="m-modal-title warnUser">帮助</h4>
			<span class="m-modal-close">&times;</span>
		</div>

		<div class="m-middle">
			<!--content-->
			<p>后期填坑。。。</p>
		</div>

		<div class="aboutUs">

			 <div class="aboutUs-div"><span class="aboutUs-detail">开发团队：</span> <span class="team aboutUs-detail-msg">${teamInfo.team }</span></div>
			<div class="aboutUs-div"><span class="aboutUs-detail">BUG反馈：</span> <span class="backMail aboutUs-detail-msg"></span></div>
			<div class="aboutUs-div"><span class="aboutUs-detail">改善建议：</span> <span class="advice aboutUs-detail-msg"></span></div>
			<!-- <div class="am-tabs am-margin" data-am-tabs>
				<ul class="am-tabs-nav am-nav am-nav-tabs">
					<li><a href="#tab1" class="team_href">开发团队</a></li>
					<li><a href="#tab2" class="back_href">使用反馈</a></li>
				</ul>
				<div class="am-tabs-bd">
					<div class="am-tab-panel am-fade am-in" id="tab1">
						<hr>
						<blockquote>
							<p class="team"></p>
						</blockquote>
					</div>

					<div class="am-tab-panel am-fade am-in" id="tab2" style="display: none;">
						<hr>
						<blockquote>
							<p>
								bug反馈邮箱：<a href="javascript:void(0)" class="backMail"></a>
							</p>
							<p>
								改善建议QQ：<a href="javascript:void(0)" class="advice"></a>
							</p>
						</blockquote>
					</div>
				</div>
			</div> -->

			<footer class="admin-content-footer">
				<hr>
				<p class="am-padding-left">© 欢迎加入我们. -Jas</p>
			</footer>
		</div>

		<div class="m-bottom">
			<button class="m-btn-sure">确定</button>
		</div>
	</div>
</div>