<div class="m-modal">
	<div class="m-modal-dialog" style="margin-top: 15%;">
		<div class="m-top">
			<h4 class="m-modal-title warnUser">帮助</h4>
			<span class="m-modal-close">&times;</span>
		</div>

		<div class="m-middle">
			<!--content-->
			<p>&nbsp;&nbsp;在使用本系统过程中，你可以单击好友查看好友信息，双击好友与对应的好友进行交流，你也可以在系统中设置桌面提醒通知，在你想要离开该系统时，
				请按照正确的操作方式离开页面(点击注销按钮)。</p>
		</div>

		<div class="aboutUs">

			 <div class="aboutUs-div"><span class="aboutUs-detail">开发团队：</span> <span class="team aboutUs-detail-msg"></span></div>
			<div class="aboutUs-div"><span class="aboutUs-detail">BUG反馈：</span> <span class="backMail aboutUs-detail-msg"></span></div>
			<div class="aboutUs-div"><span class="aboutUs-detail">改善建议：</span> <span class="advice aboutUs-detail-msg"></span></div>

			<footer class="admin-content-footer">
				<p class="am-padding-left">©  -Jas</p>
			</footer>
		</div>

		<div class="m-bottom">
			<button class="m-btn-sure">确定</button>
		</div>
	</div>
</div>