<div id="dialogBg"></div>
<div id="dialog" class="animated">
	<img class="dialogIco img-circle" width="50" height="50" src="" alt="" />
	<div class="dialogTop">
		<span class="setInfo-showWarn" style="text-align:center;"> </span>
		<a href="javascript:void (0)" class="claseDialogBtn close-usr-up">关闭</a>
	</div>
	<div>
		<form id="updateUserInfoForm">
			<div class="group-usr-ch" style="margin-top: 10px">
                <input type="hidden" id="userId" name="userId" value="${userInfo.userId }">
				<input type="text" id="username" name="username" value="${userInfo.username}" disabled="disabled" />
			</div>
			<div class="group-usr-ch">
				<input type="text" id="sex" name="sex" value="${userInfo.sex}" placeholder="性别：0表示女，1表示男"/>
			</div>
			<div class="group-usr-ch">
				<input type="text" id="age" name="age" value="${userInfo.age}" placeholder="年龄"/>
			</div>
			<div class="group-usr-ch">
				<input type="text" id="phone" name="phone" value="${userInfo.phone}" placeholder="手机"/>
			</div>
			<div class="group-usr-ch">
				<input type="text" id="email" name="email" value="${userInfo.email}" placeholder="电邮"/>
			</div>
			<div class="group-usr-ch">
				<textarea class="" id="profile" name="autograph" rows="2" placeholder="个性签名"></textarea>
			</div>
			<div class="group-usr-ch">
				<textarea class="" id="userIntro" name="summary" rows="2" placeholder="250字内详细介绍你自己"></textarea>
			</div>
			<div class="group-usr-ch">
                <button type="button" class="usr-inf-up" id="user_update_btn">保存修改</button>
			</div>
		</form>
	</div>
</div>